Match regexes as a single token




Potential conflict with endpoint paths: 

HTTP [RFC 3986 section 3.3](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3) defines path separator to be single slash.


We had that before, but there was an issue. Don't remember what issue though. @wilmveel might know?